:root {
  --white: #eeeeee;
  --blue: #00adb5;
  --gray: #393e46;
  --main-border-radius: 3rem;
}

body {
  background-color: var(--white);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.count {
  display: flex;
  padding: 2.5rem;
  margin: 1.5rem;
  border-radius: var(--main-border-radius);
  background-color: var(--blue);
  color: var(--white);
  font-size: 3rem;
  align-items: center;
  justify-content: center;
}

.btn-group {
  border-radius: var(--main-border-radius);
}

.btn-group button {
  background-color: var(--gray);
  border: 0px solid;
  color: var(--white);
  padding: 1rem 2rem;
  cursor: pointer;
  float: left;
  font-size: 1.5rem;
}

.btn-group button:first-child {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.btn-group button:last-child {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
